* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 300;
    src: url("../../fonts/SourceSans3-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../../fonts/SourceSans3-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 500;
    src: url("../../fonts/SourceSans3-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../../fonts/SourceSans3-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: var(--font-md);
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-primary-bg);
}

a {
    text-decoration: none;
    color: var(--color-primary);
    &:hover {
        color: var(--color-primary-dark);
    }
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-md);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: var(--color-primary-dark);
    }
    &:disabled {
        background-color: var(--color-grey);
        cursor: not-allowed;
    }
}

hr {
    border: none;
    border-top: 1px solid var(--color-grey);
    margin: var(--space-2xs) 0;
}
