.add-note {
    display: flex;
    flex-direction: column;
    .add-note-input-title,
    .add-note-input-description {
        border: none;
        background-color: transparent;
        font-size: var(--font-xl);
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
        margin: var(--space-sm) 0;
        width: 100%;
    }

    .add-note-input-description {
        height: 100px;
        resize: none;
        overflow: hidden;
    }

    .add-note-input-description {
        font-size: var(--font-sm);
    }

    .add-note-image-wrapper {
        position: relative;
        width: fit-content;
        .remove-btn {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--color-danger);
            opacity: 0;
            transition: opacity 0.3s;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 15px;
                height: 15px;
                filter: invert(1);
            }
        }

        &:hover {
            .remove-btn {
                opacity: 1;
            }
        }
    }
}
