.icon-button {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    width: 25px;
    height: 25px;
    img {
        transition: filter 0.2s;
        width: 25px;
        height: auto;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
            brightness(100%) contrast(100%);
    }
    &:hover {
        background-color: var(--color-primary-bg);
        img {
            filter: none;
        }
    }
}
