.note-menu {
    height: 60px;
    width: 100%;
    background-color: var(--color-white);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .note-menu-start {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--site-padding-x);
        flex-grow: 1;
    }
    .note-menu-end {
        flex-grow: 1;
        text-align: end;
        padding: 0 var(--site-padding-x);
        font-size: var(--font-sm);
        color: var(--color-grey-dark);
    }
}
