.page {
    padding: var(--site-padding-y) var(--site-padding-x);
}
.page-home {
    padding-bottom: var(--bottom-menu-height);
}
.page-settings {
    div > * {
        margin-top: var(--space-lg);
    }
}
