.task-list {
    .add-task-btn {
        background-color: transparent;
        font-size: var(--font-xs);
        color: var(--color-grey-dark);
        display: inline !important;
        width: fit-content;
    }
    .task-list-item-content {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
            margin-right: var(--space-xs);
        }

        input[type="text"] {
            border: none;
            border-bottom: 1px solid var(--color-grey-dark);
            background-color: transparent;
            font-size: var(--font-md);
            &:active,
            &:focus {
                border: none;
                outline: none;
                border-bottom: 1px solid var(--color-primary);
            }
        }
    }

    &.task-list-static {
        .task-list-item-content {
            .task-list-item-title {
                color: var(--color-grey-dark);
                &.done {
                    text-decoration: line-through;
                }
            }
        }
    }
}
