:root {
    --color-primary: #6a3ea1;
    --color-primary-dark: #3a2258;
    --color-primary-light: #efe9f7;
    --color-primary-bg: #faf8fc;
    --color-black: #180e25;
    --color-white: #ffffff;
    --color-grey: #c8c5cb;
    --color-grey-light: #efeef0;
    --color-grey-dark: #827d89;
    --color-danger: #ce3a54;

    --font-xs: 10px;
    --font-2xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-2xl: 32px;
    --font-3xl: 40px;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 48px;
    --space-3xl: 64px;

    --site-padding-x: 16px;
    --site-padding-y: 24px;

    --border-radius: 4px;

    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    --bottom-menu-height: 84px;
}
